/* CSS FOR 1 */

.main {
  width: 600px;
  margin: 50px,auto;
  padding: 160px 80px;
  border-radius: 10px;
  background-color: rgb(0, 230, 170);
  box-sizing: border-box;
  font-family:sans-serif;
}


.heading {
  font-size: 33px;
  border-bottom: 20px;
}

.parag{
  font-weight: 350;
}

.button {
  border: none;
  padding: 10px 25px;
  background-color: white;
  border-radius: 21px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 450;
}


/* CSS FOR 2 */


.profile {
  font-family:sans-serif;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 600px;
  margin: 300px auto;
  /* padding: 0px 24px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.top,
.bottom,
.middle {
  padding: 16px 30px;
}



.bottom {
  border-top: 1px solid lightgray;
  cursor: pointer;
}

.profileheading {
  font-weight: 500;
  font-size: 33px;
}

.profilepara {
  color: rgb(68, 71, 70);
  font-size: 18px;
}

.img-profile {
  border-radius: 50%;
  padding: 50px;
}

.bottom-profile {
  text-decoration: none;
  color: rgb(11, 90, 200);
  font-size: 20px;
  font-weight: 450;
}

/*CSS FOR 3 */

.photos {
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 24px;
  width: 500px;
  margin: 300px auto;
  /* padding: 0px 24px; */

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.photos-img {
  width: 100%;
  border-radius: 24px 24px 0 0;
}

.photos-subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photos-desc {
  padding: 50px 30px;
}

.photos-lock {
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding-right: 8px;
}

.photos-para {
  margin-bottom: 30 px;
}

.photos-btn {
  text-decoration: none;
  border: 2px solid lightgray;
  color: rgb(11, 87, 208);
  background-color: transparent;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 600;
  cursor: pointer;
}

.cl-grey {
  color: grey;
  font-weight: 400;
}

/* CSS FOR 4*/

.flodesk {
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  width: 500px;
  margin: 300px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding: 24px 12px;
}

.flodesk-img {
  width: 80%;
}

.input {
  width: 100%;
  margin-bottom: 24px;
  padding: 16px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid lightgrey;
}


a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.742);
  padding: 0 4px;
}

footer {
  margin-top: 34px;
  font-size: 14px;
}

span {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flowdesk-header {
  margin: 0px;
}
.flodesk-btn {
  border: non e;
  background-color: black;
  color: white;
  padding: 16px 40px;
  font-weight: 600;
  border-radius: 146px;
  cursor: pointer;
}
